* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--dark-blue: #3a4a4c;
	--mid-blue: #5d8a7c;
	--light-blue: #adc6c6;
	--white: #f8f9f7;
	--black: #242d34;

	font-family: "Lato", "Inclusive Sans", sans-serif;
	background-color: var(--white);
}

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;

	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 5px;
	color: var(--black);
	position: sticky;
	z-index: 3;
}

#branding {
	display: flex;
	flex-direction: column;
}

#branding p {
	opacity: 50%;
	font-size: 15px;
}

header nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	gap: 20px;
	padding-right: 5px;
}

header nav a {
	text-decoration: none;
	color: var(--dark-blue);
}

main {
	width: 100%;
	height: 200vh;
	display: flex;
	flex-direction: column;
}

.hero-container {
	width: 100%;
	height: 100vh;
	display: relative;
	overflow-y: scroll;
}

#hero {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 1;
}

#hero video {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	z-index: 0;
}

.hero-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	text-align: center;
	color: var(--dark-blue);
	z-index: 10;
	position: relative;
	background: transparent;
}

.hero-content h1,
h3 {
	background-color: transparent;
	color: var(--white);
}

.hero-content h1 {
	font-size: 80px;
}
.hero-content h3 {
	font-size: 40px;
}

#about {
	height: 50%;
	width: 100%;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10%;
}

.about-img {
	width: 50%;
}
.about-info {
	width: 50%;
	line-height: 1.5;
}

.about-info p {
	font-size: 15px;
}

#contact {
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.contact-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 50%;
	width: 50%;
}

.contact-form h2 {
	font-size: 60px;
	padding: 2%;
}

.input-first input {
	font-size: 20px;
	border-radius: 5px;
	text-indent: 5px;
}
.input-second input {
	font-size: 20px;
	width: 100%;
	border-radius: 5px;
	text-indent: 5px;
}
.input-third textarea {
	resize: none;
	font-size: 20px;
	width: 100%;
	border-radius: 5px;
	text-indent: 5px;
}

.input-button input {
	font-size: 20px;
	border-radius: 15px;
	padding: 5px;
}
.project {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	width: 50%;
	height: 45%;
}

.project h2 {
	font-size: 60px;
	padding-top: 8%;
	padding-bottom: 3%;
}

.project button {
	border-radius: 15px;
	padding: 5px;
	font-size: 30px;
}

.project button:hover {
	cursor: pointer;
}

.project button a {
	text-decoration: none;
	color: #242d34;
}
footer {
	height: 50px;
	width: 100%;
	text-align: center;
}

footer svg {
	font-size: 30px;
}

nav a:hover {
	color: #e74c3c;
}
